# CITES Data Analysis

In [1]:
import numpy as np
import pandas as pd

In [12]:
df = pd.read_csv("../gitignore/CITES/Trade_database_download_v2019.2/trade_db_1.csv")
for i in range(2, 42, 1):
    db_path = "../gitignore/CITES/Trade_database_download_v2019.2/trade_db_{}.csv".format(i)
    print(db_path)
    part = pd.read_csv(db_path)
    df = df.append(part)

../gitignore/CITES/Trade_database_download_v2019.2/trade_db_2.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_3.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_4.csv

/Users/tangruibin/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

../gitignore/CITES/Trade_database_download_v2019.2/trade_db_5.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_6.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_7.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_8.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_9.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_10.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_11.csv

/Users/tangruibin/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

../gitignore/CITES/Trade_database_download_v2019.2/trade_db_12.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_13.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_14.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_15.csv

/Users/tangruibin/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

../gitignore/CITES/Trade_database_download_v2019.2/trade_db_16.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_17.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_18.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_19.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_20.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_21.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_22.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_23.csv

/Users/tangruibin/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (9,16) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

../gitignore/CITES/Trade_database_download_v2019.2/trade_db_24.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_25.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_26.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_27.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_28.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_29.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_30.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_31.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_32.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_33.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_34.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_35.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_36.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_37.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_38.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_39.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_40.csv
../gitignore/CITES/Trade_database_download_v2019.2/trade_db_41.csv

In [2]:
#df.to_csv('../gitignore/CITES/Trade_database_download_v2019.2/trade_db_all.csv')

### Find Mixed Values (db_4, _11, _15, _23)
* Column(8) is Quantity, read as float8 in Postgres, others are all read in as text *
 - db_4 quantity one error row
 - db_11 error in Column(16): Import.permit.RandomID, can be omitted 
 - db_15 two error rows in year column
 - db_11 error in Column(9): Unit, Column(16): Import.permit.RandomID, can be omitted

In [6]:
df4 = pd.read_csv("../gitignore/CITES/Trade_database_download_v2019.2/trade_db_4.csv")

/Users/tangruibin/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df4[pd.to_numeric(df4['Quantity'], errors='coerce').isnull()]

,Year,Appendix,Taxon,Class,Order,Family,Genus,Term,Quantity,Unit,Importer,Exporter,Origin,Purpose,Source,Reporter.type,Import.permit.RandomID,Export.permit.RandomID,Origin.permit.RandomID
111614,10745,Reptilia,Crocodylia,Crocodylus,Crocodylus niloticus,10745,leather products (large),JP,DE,ID,T,C,I,NaN,W-1341/00,NaN,6a17ce56a1,NaN,NaN

In [17]:
df15 = pd.read_csv("../gitignore/CITES/Trade_database_download_v2019.2/trade_db_15.csv")

/Users/tangruibin/anaconda3/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2717: DtypeWarning: Columns (0,8) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [20]:
df15[pd.to_numeric(df15['Year'], errors='coerce').isnull()] #same results finding with quantity

,Year,Appendix,Taxon,Class,Order,Family,Genus,Term,Quantity,Unit,Importer,Exporter,Origin,Purpose,Source,Reporter.type,Import.permit.RandomID,Export.permit.RandomID,Origin.permit.RandomID
139512,Mammalia,Primates,Cercopithecidae,Macaca fascicularis,3920,live,120,CN,NaN,T,C,E,NaN,EB98/0369,NaN,3751601,NaN,NaN,NaN
247356,Carnivora,Canidae,Lycalopex,36025,skins,1183,NaN,NaN,T,W,E,NaN,19611,NaN,3931454,NaN,NaN,NaN,NaN