## CITES Manidae Subset Analysis

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./manidae.csv')
df.head()

,Year,App.,Taxon,Class,Order,Family,Genus,Importer,Exporter,Origin,Importer reported quantity,Exporter reported quantity,Term,Unit,Purpose,Source
0,1977,II,Manis javanica,Mammalia,Pholidota,Manidae,Manis,FR,GB,XX,NaN,4.0,skins,NaN,NaN,NaN
1,1977,II,Manis javanica,Mammalia,Pholidota,Manidae,Manis,US,ES,XX,215.0,NaN,shoes,NaN,NaN,NaN
2,1977,II,Manis javanica,Mammalia,Pholidota,Manidae,Manis,US,FR,ID,NaN,444.0,skins,NaN,NaN,NaN
3,1977,II,Manis pentadactyla,Mammalia,Pholidota,Manidae,Manis,AU,CN,NaN,2.0,NaN,live,NaN,NaN,NaN
4,1978,II,Manis crassicaudata,Mammalia,Pholidota,Manidae,Manis,US,JP,XX,298.0,NaN,skins,NaN,NaN,NaN

### Taxons x Appendix

In [18]:
df.groupby(['App.','Taxon']).size().reset_index().rename(columns={0:'record_count'}).sort_values(by="record_count", ascending=False)

   App.                Taxon  record_count
11   II       Manis javanica           661
13   II           Manis spp.           345
12   II   Manis pentadactyla           301
16   II      Manis tricuspis           100
10   II       Manis gigantea            45
15   II   Manis tetradactyla            38
8    II  Manis crassicaudata            32
14   II     Manis temminckii            30
19  III      Manis tricuspis            14
4     I           Manis spp.            14
9    II    Manis culionensis             6
18  III   Manis tetradactyla             6
6     I   Manis tetradactyla             4
5     I     Manis temminckii             3
3     I   Manis pentadactyla             2
2     I       Manis javanica             2
1     I       Manis gigantea             1
7     I      Manis tricuspis             1
17  III       Manis gigantea             1
0     I         Manidae spp.             1