## CITES Manidae Subset Analysis

In [2]:
import numpy as np
import pandas as pd

In [8]:
df = pd.read_csv('./manidae.csv')
df = df.drop(['id', 'import_permit_randomid', 'export_permit_randomid', 'origin_permit_randomid'], axis=1)
df.head()

,year,appendix,taxon,class,ord,family,genus,term,quantity,unit,importer,exporter,origin,purpose,source,reporter_type
0,1979,II,Manis spp.,Mammalia,Pholidota,Manidae,Manis,skins,356.0,NaN,US,ES,XX,T,NaN,I
1,1981,II,Manis spp.,Mammalia,Pholidota,Manidae,Manis,skin pieces,1.0,cartons,HK,XX,NaN,NaN,I,I
2,1981,II,Manis spp.,Mammalia,Pholidota,Manidae,Manis,shoes,1.0,NaN,US,XX,TH,P,NaN,I
3,1981,II,Manis spp.,Mammalia,Pholidota,Manidae,Manis,shoes,2.0,NaN,US,XX,TH,P,NaN,I
4,1981,II,Manis spp.,Mammalia,Pholidota,Manidae,Manis,leather items,2.0,NaN,US,XX,TH,P,NaN,I

## Basic Stats

In [9]:
len(df)

3631

#### Taxons

In [11]:
df.groupby(['taxon']).size().reset_index().rename(columns={0:'record_count'}).sort_values(by="record_count", ascending=False)

                 taxon  record_count
4       Manis javanica          2134
6           Manis spp.           552
5   Manis pentadactyla           541
9      Manis tricuspis           163
3       Manis gigantea           105
8   Manis tetradactyla            52
1  Manis crassicaudata            41
7     Manis temminckii            35
2    Manis culionensis             7
0         Manidae spp.             1

#### EXCEPTION CASE
 - all cases are under the same class order and family with manis genus, one exception will null datum

In [16]:
df[df['genus'].isnull()]

,year,appendix,taxon,class,ord,family,genus,term,quantity,unit,importer,exporter,origin,purpose,source,reporter_type
3626,2017,I,Manidae spp.,Mammalia,Pholidota,Manidae,NaN,scales,14.8,kg,ZA,HK,NaN,L,I,I