## Preparing json for scales globe visualization (kg, scales, manis)

In [1]:
import numpy as np
import pandas as pd

In [2]:
df_import = pd.read_csv('./subsets/df_scales_weight_import_kg.csv')
df_export = pd.read_csv('./subsets/df_scales_weight_export_kg.csv')
df_import.drop(['Unnamed: 0', 'appendix', 'taxon', 'class', 'ord', 'family', 'genus', 'term', 'origin', 'purpose', 'source', 'unit'], axis=1, inplace=True)
df_export.drop(['Unnamed: 0', 'appendix', 'taxon', 'class', 'ord', 'family', 'genus', 'term', 'origin', 'purpose', 'source', 'unit'], axis=1, inplace=True)
df_import.head()

   year importer exporter reporter_type  quantity
0  1997       KR       XX             I   366.000
1  1999       US       LA             I     0.109
2  1999       US       LA             I     0.043
3  1999       US       LA             I     0.032
4  2001       US       LA             I     0.022

In [3]:
df = pd.concat([df_import, df_export], axis=0)
df[(df['exporter']=='XX') | (df['importer']=='XX')]

   year importer exporter reporter_type  quantity
0  1997       KR       XX             I     366.0

In [4]:
df_import = df_import[(df_import['importer']!='XX') & (df_import['exporter']!='XX')]
df_import.head()

   year importer exporter reporter_type  quantity
1  1999       US       LA             I     0.109
2  1999       US       LA             I     0.043
3  1999       US       LA             I     0.032
4  2001       US       LA             I     0.022
5  2001       US       LA             I     0.020

### countries

In [5]:
np.unique(df[['importer', 'exporter']].values)

array(['AU', 'BI', 'CD', 'CG', 'CH', 'CI', 'CN', 'DE', 'GA', 'GB', 'HK',
       'KH', 'KR', 'LA', 'MY', 'NL', 'NZ', 'SG', 'TG', 'TH', 'TZ', 'UG',
       'US', 'VN', 'XX', 'ZA'], dtype=object)

In [6]:
'''
AU AUSTRALIA
BI BURUNDI
CD CONGO, DEMOCRATIC REPUBLIC OF THE
CG CONGO
CH SWITZERLAND
CI CÔTE D'IVOIRE
CN CHINA
DE GERMANY
GA GABON
GB UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND
HK HONG KONG
KH CAMBODIA
KR KOREA, REPUBLIC OF
LA LAO PEOPLE'S DEMOCRATIC REPUBLIC
MY MALAYSIA
NL NETHERLANDS
NZ NEW ZEALAND
SG SINGAPORE
TG TOGO
TH THAILAND
TZ TANZANIA, UNITED REPUBLIC OF
UG UGANDA
US UNITED STATES OF AMERICA
VN VIET NAM
ZA SOUTH AFRICA
'''

"\nAU AUSTRALIA\nBI BURUNDI\nCD CONGO, DEMOCRATIC REPUBLIC OF THE\nCG CONGO\nCH SWITZERLAND\nCI CÔTE D'IVOIRE\nCN CHINA\nDE GERMANY\nGA GABON\nGB UNITED KINGDOM OF GREAT BRITAIN AND NORTHERN IRELAND\nHK HONG KONG\nKH CAMBODIA\nKR KOREA, REPUBLIC OF\nLA LAO PEOPLE'S DEMOCRATIC REPUBLIC\nMY MALAYSIA\nNL NETHERLANDS\nNZ NEW ZEALAND\nSG SINGAPORE\nTG TOGO\nTH THAILAND\nTZ TANZANIA, UNITED REPUBLIC OF\nUG UGANDA\nUS UNITED STATES OF AMERICA\nVN VIET NAM\nZA SOUTH AFRICA\n"

In [7]:
countries = ['AU', 'BI', 'CD', 'CG', 'CH', 'CI', 'CN', 'DE', 'GA', 'GB', 'HK',
       'KH', 'KR', 'LA', 'MY', 'NL', 'NZ', 'SG', 'TG', 'TH', 'TZ', 'UG',
       'US', 'VN', 'ZA'] #'XX',
#now is latlons
lonlats = [
    [-25.274398, 133.775136],
    [-3.373056, 29.918886],
    [-4.038333, 21.758664],
    [-0.228021, 15.827659],
    [46.818188, 8.227512],
    [7.539989, -5.54708],
    [35.86166, 104.195397],
    [51.165691, 10.451526],
    [-0.803689, 11.609444],
    [55.378051, -3.435973],
    [22.396428, 114.109497],
    [12.565679, 104.990963],
    [35.907757, 127.766922],
    [19.85627, 102.495496],
    [4.210484, 101.975766],
    [52.132633, 5.291266],
    [-40.900557, 174.885971],
    [1.352083, 103.819836],
    [8.619543, 0.824782],
    [15.870032, 100.992541],
    [-6.369028, 34.888822],
    [1.373333, 32.290275],
    [37.09024, -95.712891],
    [14.058324, 108.277199],
    [-30.559482, 22.937506]
]
for index in range(len(lonlats)):
    lonlats[index][0], lonlats[index][1] = lonlats[index][1], lonlats[index][0]

In [8]:
dict_code_lonlat = dict(zip(countries, lonlats))
dict_code_lonlat

{'AU': [133.775136, -25.274398],
 'BI': [29.918886, -3.373056],
 'CD': [21.758664, -4.038333],
 'CG': [15.827659, -0.228021],
 'CH': [8.227512, 46.818188],
 'CI': [-5.54708, 7.539989],
 'CN': [104.195397, 35.86166],
 'DE': [10.451526, 51.165691],
 'GA': [11.609444, -0.803689],
 'GB': [-3.435973, 55.378051],
 'HK': [114.109497, 22.396428],
 'KH': [104.990963, 12.565679],
 'KR': [127.766922, 35.907757],
 'LA': [102.495496, 19.85627],
 'MY': [101.975766, 4.210484],
 'NL': [5.291266, 52.132633],
 'NZ': [174.885971, -40.900557],
 'SG': [103.819836, 1.352083],
 'TG': [0.824782, 8.619543],
 'TH': [100.992541, 15.870032],
 'TZ': [34.888822, -6.369028],
 'UG': [32.290275, 1.373333],
 'US': [-95.712891, 37.09024],
 'VN': [108.277199, 14.058324],
 'ZA': [22.937506, -30.559482]}

In [9]:
def tojson(_df):
    result = list()
    for index, row in _df.iterrows():
        result.append({
            'year': row['year'],
            'route': [dict_code_lonlat[row['exporter']], dict_code_lonlat[row['importer']]], #follow from - to for visuals 
            'quantity': row['quantity']
        })
        
    return result

import_json = tojson(df_import)
export_json = tojson(df_export)

In [10]:
import json
with open('../charts/assets/import_scales.json', 'w') as outfile:
    json.dump(import_json, outfile)

In [11]:
with open('../charts/assets/export_scales.json', 'w') as outfile:
    json.dump(export_json, outfile)

In [16]:
df_import[df_import['importer']=='CN'].groupby('year').sum()

      quantity
year
1994    2000.0
1996    4000.0
2010    1500.0
2012     800.0
2014    3948.0
2015    1950.0
2016    4500.0
2017    5000.0

### Find anomaly case in Africa
* exported from hong kong to some african country and transfer to another african country

In [5]:
df[df['exporter']=="HK"]

    year importer exporter reporter_type  quantity
35  2013       US       HK             I     0.737
53  2015       ZA       HK             I    27.882
81  2017       ZA       HK             I    14.800
82  2017       ZA       HK             I    12.800
6   1996       CN       HK             E  1600.000

In [7]:
print('ZA SOUTH AFRICA')
df[df['exporter']=="ZA"]

ZA SOUTH AFRICA

    year importer exporter reporter_type  quantity
41  2016       TZ       ZA             E       0.5
43  2016       TZ       ZA             E       0.5
44  2016       TZ       ZA             E       0.5
46  2016       TZ       ZA             E       0.5

In [8]:
print('TZ TANZANIA, UNITED REPUBLIC OF')

TZ TANZANIA, UNITED REPUBLIC OF

In [9]:
df[df['importer']=="TZ"]

    year importer exporter reporter_type  quantity
41  2016       TZ       ZA             E       0.5
43  2016       TZ       ZA             E       0.5
44  2016       TZ       ZA             E       0.5
46  2016       TZ       ZA             E       0.5

### Exporter exporting to the US

In [10]:
df[df['importer']=="US"]

    year importer exporter reporter_type  quantity
1   1999       US       LA             I     0.109
2   1999       US       LA             I     0.043
3   1999       US       LA             I     0.032
4   2001       US       LA             I     0.022
5   2001       US       LA             I     0.020
6   2001       US       LA             I     0.019
7   2002       US       VN             I     0.006
8   2002       US       VN             I     0.007
9   2006       US       TH             I     0.296
10  2008       US       LA             I     0.023
12  2009       US       TH             I     0.130
13  2011       US       TH             I     0.140
22  2000       US       LA             I     0.029
23  2001       US       LA             I     0.002
24  2001       US       LA             I     0.351
25  2001       US       LA             I     0.289
26  2001       US       LA             I     0.014
28  2004       US       CN             I     2.045
30  2009       US       VN             I     0.409
34  2012       US       CN             I     0.454
35  2013       US       HK             I     0.737
36  2013       US       TH             I     0.025
61  2016       US       VN             I     0.454
80  2017       US       KH             I     1.000
8   1997       US       CN             E   500.000

In [7]:
df_before_2014 = df[df['year'] < 2014]
df_after_2014 = df[df['year'] > 2013]

In [14]:
print(len(df_before_2014))
print(df_before_2014['quantity'].sum())
df_before_2014.groupby('exporter')['quantity'].sum()

76
43450.8542

exporter
CN      502.4990
GA        0.1400
HK     1600.7370
LA        0.9530
MY    18930.0000
NZ        0.0122
SG    21454.5000
TG      385.0000
TH        0.5910
UG      210.0000
VN        0.4220
XX      366.0000
Name: quantity, dtype: float64

In [15]:
len(df_after_2014)
print(df_after_2014['quantity'].sum())
df_after_2014.groupby('exporter')['quantity'].sum()

34093.566

exporter
BI    14226.700
CD     1700.000
CG     6500.000
CI        0.050
HK       55.482
KH        1.000
NL        0.880
UG    11607.000
VN        0.454
ZA        2.000
Name: quantity, dtype: float64

In [24]:
df.groupby('year')['quantity'].sum()

year
1994     8000.0000
1996    26130.0000
1997      866.0000
1998     2054.5000
1999        0.1840
2000      700.0290
2001        0.7170
2002        0.0130
2004        2.0450
2006        0.2960
2008        0.0352
2009     1000.5390
2010     2500.0000
2011       50.1400
2012     1805.5940
2013      340.7620
2014     7258.0000
2015     1977.8820
2016    12122.4940
2017    12735.1900
Name: quantity, dtype: float64

In [28]:
#background suuport
df['quantity'].sum()

77544.4202

In [26]:
df.groupby('importer')['quantity'].sum()

importer
AU        0.0122
CH        0.8800
CN    38339.0000
DE        0.0500
GB        0.1400
HK    18671.2000
KR      366.0000
LA       99.0000
MY       99.0000
SG    18930.0000
TH      265.0000
TZ        2.0000
US      506.6560
VN      210.0000
ZA       55.4820
Name: quantity, dtype: float64

In [29]:
38339 / 77544.4202

0.4944133942986139

In [30]:
df.groupby('exporter')['quantity'].sum()

exporter
BI    14226.7000
CD     1700.0000
CG     6500.0000
CI        0.0500
CN      502.4990
GA        0.1400
HK     1656.2190
KH        1.0000
LA        0.9530
MY    18930.0000
NL        0.8800
NZ        0.0122
SG    21454.5000
TG      385.0000
TH        0.5910
UG    11817.0000
VN        0.8760
XX      366.0000
ZA        2.0000
Name: quantity, dtype: float64

In [32]:
df[df['exporter'] == 'SG']['quantity'].sum()

21454.5

In [37]:
importers = df.groupby('importer')['quantity'].sum()
exporters = df.groupby('exporter')['quantity'].sum()

In [43]:
net = pd.concat([importers, exporters], axis=1).fillna(0)
net.columns = ['import', 'export']
net['net'] = net['import'] - net['export']

In [45]:
net.sort_values(by='net')

        import      export         net
MY     99.0000  18930.0000 -18831.0000
BI      0.0000  14226.7000 -14226.7000
UG      0.0000  11817.0000 -11817.0000
CG      0.0000   6500.0000  -6500.0000
SG  18930.0000  21454.5000  -2524.5000
CD      0.0000   1700.0000  -1700.0000
TG      0.0000    385.0000   -385.0000
XX      0.0000    366.0000   -366.0000
KH      0.0000      1.0000     -1.0000
NL      0.0000      0.8800     -0.8800
GA      0.0000      0.1400     -0.1400
CI      0.0000      0.0500     -0.0500
NZ      0.0000      0.0122     -0.0122
AU      0.0122      0.0000      0.0122
DE      0.0500      0.0000      0.0500
GB      0.1400      0.0000      0.1400
CH      0.8800      0.0000      0.8800
TZ      2.0000      0.0000      2.0000
ZA     55.4820      2.0000     53.4820
LA     99.0000      0.9530     98.0470
VN    210.0000      0.8760    209.1240
TH    265.0000      0.5910    264.4090
KR    366.0000      0.0000    366.0000
US    506.6560      0.0000    506.6560
HK  18671.2000   1656.2190  17014.9810
CN  38339.0000    502.4990  37836.5010

In [60]:
net.sort_values(by='net')['net'][:6]

MY   -18831.0
BI   -14226.7
UG   -11817.0
CG    -6500.0
SG    -2524.5
CD    -1700.0
Name: net, dtype: float64

In [59]:
net.sort_values(by='net')['net']

MY   -18831.0000
BI   -14226.7000
UG   -11817.0000
CG    -6500.0000
SG    -2524.5000
CD    -1700.0000
TG     -385.0000
XX     -366.0000
KH       -1.0000
NL       -0.8800
GA       -0.1400
CI       -0.0500
NZ       -0.0122
AU        0.0122
DE        0.0500
GB        0.1400
CH        0.8800
TZ        2.0000
ZA       53.4820
LA       98.0470
VN      209.1240
TH      264.4090
KR      366.0000
US      506.6560
HK    17014.9810
CN    37836.5010
Name: net, dtype: float64